<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game View</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../jvectormap/jquery-jvectormap.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script src="../js/jquery.js"></script>
    <script src="http://jvectormap.com/js/jquery-jvectormap-2.0.1.min.js"></script>
    <script src="http://jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
    <script src="../jvectormap/jquery-jvectormap.js"></script>
    <script src="../js/login.js"></script>
</head>
<body data-role="page">
    <div id="world-map" style="width: 800px; height: 600px"></div>
    <script>
        $(function(){
            $('#world-map').vectorMap({map: 'world_mill'});
        });
    </script>
</body>
</html>
